:root {
    --primary-color: #8d06db;
    --secondary-color: #ff5722;
    --light-color: aliceblue;
    --dark-color: #333;
    --primary-opacity: rgba(58, 2, 80, 0.8);
}

/* Game Mode 1 styling */

#car-buttons-container {
    display: none;
}

#mode1-info {
    display: flex;
}

#start-btn {
    position: fixed;
    left: 45%;
    top: 45%;
    width: 200px;
    text-transform: uppercase;
    font-family: "championship", monospace;
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px 4px var(--dark-color);
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-shadow: var(--dark-color) 4px 4px 20px;
    transition: background-color 0.5s;

    &:hover {
        background-color: var(--primary-color);
    }
}

#start-btn span {
    font-family: monospace;
    font-size: 0.8rem;
    text-transform: lowercase;
    color: var(--dark-color);
}



#track {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url('../images/cars/track.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.start-line,
.finish-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--dark-color);
}

.start-line {
    left: 0;
}

.finish-line {
    right: 0;
}

.car {
    position: relative;
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: left 1s linear;
    margin-top: 20px;
}

.red {
    background-image: url('../images/cars/red_car.png');
}

.black {
    background-image: url('../images/cars/black_car.png');
}

.blue {
    background-image: url('../images/cars/blue_car.png');
}

.gray {
    background-image: url('../images/cars/gray_car.png');
}

.white {
    background-image: url('../images/cars/white_car.png');
}

.other {
    background-image: url('../images/cars/green_car.png');
}

/* Placed counter behind the car */
.counter {
    position: absolute;
    bottom: 2;
    left: -20%;
    transform: translateX(40%);
    background-color: var(--primary-opacity);
    color: var(--light-color);
    padding: 2px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.total-counter {
    margin-top: 20px;
}

/* Car Buttons */
.car-btn {
    width: 100px;
    margin-right: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &#red-car-btn {
        background-color: #ff0000;
        color: var(--light-color);
    }

    &#black-car-btn {
        background-color: #000000;
        color: var(--light-color);
    }

    &#blue-car-btn {
        background-color: #0000ff;
        color: var(--light-color);
    }

    &#gray-car-btn {
        background-color: #808080;
        color: var(--light-color);
    }

    &#white-car-btn {
        background-color: #ffffff;
        color: var(--dark-color);
    }

    &#other-car-btn {
        background-color: #bcafc4;
        color: var(--dark-color);
    }
}