@font-face {
    font-family: "championship";
    src: url("../fonts/championship.ttf") format("truetype");
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #8d06db, #1a237e, #009688, #ff5722);
    /* Default Background */
    color: aliceblue;
    font-family: "Kode Mono", monospace, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

.weather-background {
    background-image: url('../images/background/modal-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700
*/

/* note: 21/3  add more font classes  */
.title {
    font-family: "championship", monospace;
    font-size: 5rem;
    color: rgb(243, 113, 7);
    text-shadow: #050505 4px 4px 20px;    
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background: rgba(58, 2, 80, 0.8);
}

.link {
    font-family: "championship", monospace;
    font-size: 2rem;
    margin: 0 10px;
    color: rgb(243, 113, 7);
    text-shadow: #050505 4px 4px 20px;
    size: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
        color: purple;
        text-shadow: #050505 4px 4px 20px;
    }
   
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
      
    background-color: rgba(34, 3, 37, 0.5); 
} */

.container {
    margin-top:15px;
    background: rgba(26, 1, 36, 0.5);
    border-radius: 15px;
    text-shadow: #050505 2px 2px 10px;
    border: 3px solid #8d06db;
}

/* Car Animation */
.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    cursor: pointer;

}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 3px solid #8d06db;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: rgba(56, 1, 73, 0.781);
    transition: box-shadow 0.5s;
}
.card-title {
    font-family: "championship", monospace;
    font-size: 2rem;
    color: rgb(243, 113, 7);
    text-shadow: #050505 4px 4px 20px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 5px;
    /* background: rgba(56, 1, 73, 0.781); */
}
.btn {
    background-color: #8d06db;
    width: 90%;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
   
}


.card-body.mode2,
.card-body.mode1 {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    background-color: rgba(255, 255, 255, 0.7); 
    color: rgb(0, 0, 0);
    text-shadow: #a703f39a 2px 2px 10px;
    padding: 20px; 
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 20px;
}

.card-button {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    cursor: pointer;
    background-color: #8d06db;
    transition: background-color 0.5s;
    font-family: "championship", monospace;
    font-size: 2rem;
    color: rgb(243, 113, 7);
    text-shadow: #7506b6 4px 4px 4px;

    &:hover {
        background-color: #7506b6;
        transition: 5s;
        letter-spacing: 1em;
    }
  
}

.card:hover {
    box-shadow: 0 0 100px rgba(56, 1, 73, 0.781);
}

.card-animation {
    position: relative;
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to bottom, #8d06db, #1a237e, #009688, #ff5722);
    overflow: hidden;
    z-index: 0;
}

/* .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #8d06db, #1a237e, #009688, #ff5722);
    z-index: -1;
    border-radius: 15px;
} */
.card:hover .wheel {
    animation: spin 1s linear infinite;
}

.card:hover .car-animation {
    animation: bounce 1s infinite;
}

.car-animation {
    width: 90%;
    height: 100%;
}

.wheel {
    width: 90px;
    height: 90px;
}

.wheel1 {
    position: absolute;
    top: 55%;
    left: 10%;

}

.wheel2 {
    position: absolute;
    top: 55%;
    left: 52%;
}

/* Key Frames for animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }
}


.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
  
}

.modal-content {
    position: relative;
    margin: auto 0;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    background: url('../images/background/modal-bg.png') no-repeat center center/cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(109, 2, 180, 0.5);
    color: rgb(250, 247, 247);
    text-shadow: #8d06db 4px 4px 4px;
    
}

.font-title {
    font-family: "championship", monospace;
    font-size: 2rem;
    color: rgb(243, 113, 7);
    text-shadow: #7e03f8 2px 2px 2px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

;

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #8d06db;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-footer-about {
    display: flex;
    justify-content: space-between;
    margin-top: 20px 20px;
    color: aliceblue;
}

.modal-footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px 20px;
}

.modal-footer-content a {

    background-color: #8d06db;
    padding: 10px;
    margin: auto 0;
    cursor: pointer;
    transition: background-color 0.5s;

}

/*  Responsive Design for Car Animation - Tablet*/
@media (max-width: 768px) {
.title {
    font-size: 3rem;
}
.link {
    font-size: 1.5rem;
}

.lead-info {
    display: none;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

    /* Car animation */
    .wheel {
        width: 100px;
        height: 100px;
   }
   
    .wheel1 {
        position: absolute;
        top: 55%;
        left: 21%;
    }

    .wheel2 {
        position: absolute;
        top: 55%;
        left: 60%;
    }

    .car-animation {
        width: 85%;
        height: 100%;
    }
} 


@media (min-width: 1199px) {

    /* Car Animation */
    .wheel {
        width: 100px;
        height: 100px;
    }

    .wheel1 {
        position: absolute;
        top: 50%;
        left: 19%;
    }

    .wheel2 {
        position: absolute;
        top: 50%;
        left: 61%;
    }
}