@font-face {
    font-family: "championship";
    src: url("../fonts/championship.ttf") format("truetype");
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;   
    background: linear-gradient(to bottom, #8d06db, #1a237e, #009688, #ff5722); /* Default Background */
    color: aliceblue;
    font-family: "Kode Mono", monospace, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.weather-background {   
   background-image: url('../images/background/modal-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    background-attachment: fixed;
}


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700
*/

/* note: 21/3  add more font classes  */
.title {
  font-family: "championship", monospace;
    font-size: 7rem;
    color: rgb(255, 254, 254);
    text-shadow: #7506b6 4px 4px 4px;
    text-align: center; 
    line-height: 1;    
    text-transform: uppercase;
} 


/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #8d06db; */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
}

.nav-link {
    margin: 0 10px;
    color:antiquewhite;
    size: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(112, 2, 238, 0.5);
}

.card-body {
    display: none; /* Hide the .card-body element by default */
}

/* Car Animation */
.card-container {
    display: flex;
    justify-content: space-around; 
    margin-top: 50px;
    cursor: pointer;
}
.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 1px solid #030000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s;    
}

.btn{
    background-color: #8d06db;
    width: 90%;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-animation {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #8d06db, #1a237e, #009688, #ff5722);
}

.card:hover .wheel {
    animation: spin 1s linear infinite;
}
.card:hover .car-animation {
    animation: bounce 1s infinite;
}
.car-animation {
    width: 90%;
    height: 100%; 
}

.wheel {  
    width: 90px;
    height: 90px;
}

.wheel1 {
    position: absolute;
    top: 55%;
    left: 10%;

}

.wheel2 {
    position: absolute;
    top: 55%;
    left: 52%;
}

/* Key Frames for animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-2px); }
}


.modal {
    display: none;
    position: fixed;   
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    backdrop-filter: blur(20px);   
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: relative;
    margin: auto 0;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    background: url('../images/background/modal-bg.png') no-repeat center center/cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(109, 2, 180, 0.5);
    color: rgb(250, 247, 247);
    text-shadow: #8d06db 4px 4px 4px;
}

.font-title {
    font-family: "championship", monospace;
    font-size: 2rem;
    color: #fafafa;
    text-shadow: #7e03f8 2px 2px 2px;
    text-align: center; 
    line-height: 1;    
    text-transform: uppercase;
};

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #8d06db;
}
.modal-footer-about {
    display: flex;
    justify-content: space-between;
    margin-top: 20px 20px;
    color: aliceblue;
}
.modal-footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px 20px;
}

.modal-footer-content a {
  
    background-color: #8d06db;
    padding: 10px;
    margin: auto 0;
    cursor: pointer;    
    transition: background-color 0.5s;

}

/* Game Mode 1 styling */

.track {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #ddd;
    overflow: hidden;
    margin-bottom: 20px;
}


.start-line,
.finish-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
}

.start-line {
    left: 0;
}

.finish-line {
    right: 0;
}

.car {
    position: relative;
    width: 50px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: left 1s linear;
    display: inline-block;
}

.red {
    background-image: url('../images/cars/red_car.png');
}

.black {
    background-image: url('../images/cars/black_car.png');
}

.blue {
    background-image: url('../images/cars/blue_car.png');
}

.yellow {
    background-image: url('../images/cars/yellow_car.png');
}

.gray {
    background-image: url('../images/cars/gray_car.png');
}

.green {
    background-image: url('../images/cars/green_car.png');
}

.white {
    background-image: url('../images/cars/white_car.png');
}

.purple {
    background-image: url('../images/cars/purple_car.png');
}

.orange {
    background-image: url('../images/cars/orange_car.png');
}

.other {
    background-image: url('../images/cars/other_car.png');
}



@media (min-width: 768px) {

    /* Car animation */
    .wheel {  
        width: 70px;
        height: 70px;
    }
    
    .wheel1 {
        position: absolute;
        top: 55%;
        left: 13%;    
    }
    
    .wheel2 {
        position: absolute;
        top: 55%;
        left: 60%;
    }

    .car- {
        width: 100%;
        height: 95%; 
    }
 }


@media (min-width: 1199px) {
    
    /* Car Animation */
    .wheel {  
        width: 100px;
        height: 100px;
    }
    
    .wheel1 {
        position: absolute;
        top: 50%;
        left: 17%;    
    }
    
    .wheel2 {
        position: absolute;
        top: 50%;
        left: 64%;
    }
    /* End */     
}